@font-face {
	font-family: "Maiandra GD";
	src: url("MaiandraGD.ttf") format("truetype");
}

html, body {
	background-color: #727272;
	font-family: Maiandra GD, sans-serif;
	font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	min-width: 320px;
	min-height: 480px;
}

main {
	width: 100%;
	background-color: #fff;
}

h1 {
	font-size: 2.0rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.2rem;
}

ul {
	padding-left: 40px;
}

a {
	cursor: pointer;
	cursor: hand;
}

.nav-wrapper {
	background-color: #00bcd4;
}

.brand-logo {
	font-family: Maiandra GD, sans-serif;
	padding-left: 16px !important;
}

.button-collapse {
	height:64px;
	width:64px;
}

#mobile-menu-icon {
	padding-left: 16px !important;
	width: 100%;
	height: 100%;
	font-size: 2.2em;
}

#regnav {
	padding-right: 16px !important;
}

#rss-nav-item, #rss-link {
	height: 64px;
}

#rss-icon {
	height: 40px;
	margin-top: 12px;
}

#warning {
	font-size: 14px;
	text-align: center;
}

.titlename {
	font-family: Maiandra GD, sans-serif;
	text-align: center;
	font-size: 2.1rem;
	letter-spacing: 0px;
	line-height: 1.1em;
}

.collection-header {
	font-family: Maiandra GD, sans-serif;
	font-size: 2.0rem;
}

h1, h2, h3, h4, .titlename, .collection-header {
	color: #217CBA;
}

#index-tt {
	width:100%;
}

#index-tt .titlename {
	margin: 0 auto;
}

#index-tt .titlename span {
	border-bottom: 1px dotted black;
} /*TEH HAX!! */

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 120px;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#page-content-div {
	padding-top: 40px;
	padding-bottom: 40px;
}

.navword {
	font-weight: bold;
	color: #06619F;
}

#fab {
	display:none;
}

.foot {
	background-color: #727272;
	font-size: 10pt;
	box-sizing: border-box;
	color: #eeeeee;
	text-align: center;
	padding: 30px;
	bottom: 0px;
}
